<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
    
    <div class="d-flex flex-column align-items-start" *ngFor="let chat of _cs.chats" [ngClass]="{'align-items-end': _cs.usuario.uid == chat.uid}">
        <span class="badge flex-end" 
        [ngClass]="{'bg-primary': _cs.usuario.uid == chat.uid, 'bg-success': _cs.usuario.uid != chat.uid}"
        >{{chat.nombre}}</span>
        <p> {{chat.mensaje}}</p>
    </div>
    
    <!-- <div class="d-flex align-items-end flex-column">
        <span class="badge bg-primary flex-end">Fernando</span>
        <p>Este es un mensaje de chat</p>
    </div>
    <div class="">
        <span class="badge bg-success">Maria</span>
        <p>Saludos Fernando</p>
    </div> -->
    
</div>

<input class="form-control" type="text" name="mensaje" [(ngModel)]="mensaje"
(keyup.enter)="enviarMensaje()"
placeholder="Enviar mensaje">